In [1]:
# # file han
# file = open(<file_name>,<modes>)
# file.close()

In [ ]:
# with open(<file_name>,<modes>) as file:
#     <operations>

In [2]:
# # modes
# r -> read
# w -> write
# a -> append
# x -> create

In [5]:
try:
    b = open('data.txt','x')
    b.close()
except:
    print("The file is already there.")

The file is already there.

In [6]:
b = open('data.txt','r')
x = b.read()
print(x)
b.close()

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World
8.Hello World

In [7]:
print(type(x))

<class 'str'>

In [11]:
y = x.split('\n')
print(y)

['1.Hello World', '2.Hello World', '3.Hello World', '4.Hello World', '5.Hello World', '6.Hello World', '7.Hello World', '8.Hello World']

In [12]:
line = int(input("Enter line no = "))
y[line-1]

Enter line no = 1

'1.Hello World'

In [13]:
b = open('data1.txt','w')
x = "Hello World I am Python"
b.write(x)
b.close()

In [16]:
bill = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price= int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    data = f"{name} {price} {quantity} {total}\n"
    bill = bill+data
print(bill)

b = open('bill.txt','a')
b.write(bill)
b.close()

Enter n = 2
Enter name = Apple
Enter price = 300
Enter quantity = 2
Enter name = Banana
Enter price = 200
Enter quantity = 3
Apple 300 2 600
Banana 200 3 600

In [26]:
b = open('bill.txt','r')
x = b.read()
print(x)
b.close()

Chicken Momo 100 2 200
Coke 100 3 300
Apple 300 2 600
Banana 200 3 600

In [27]:
data = x.split('\n')[0:-1]
data

['Chicken Momo 100 2 200',
 'Coke 100 3 300',
 'Apple 300 2 600',
 'Banana 200 3 600']

In [28]:
final_data = []
for i in data:
    y = i.split()
    final_data.append(y)    
final_data

[['Chicken', 'Momo', '100', '2', '200'],
 ['Coke', '100', '3', '300'],
 ['Apple', '300', '2', '600'],
 ['Banana', '200', '3', '600']]

In [29]:
total = 0
for i in final_data:
    total = total+int(i[-1])
    
total

1700

In [30]:
bill = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price= int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    data = f"{name},{price},{quantity},{total}\n"
    bill = bill+data
print(bill)

b = open('bill.csv','a')
b.write('Name,Price,Quantity,Total\n')
b.write(bill)
b.close()

Enter n = 2
Enter name = Coke
Enter price = 100
Enter quantity = 2
Enter name = Momo
Enter price = 100
Enter quantity = 4
Coke,100,2,200
Momo,100,4,400

In [31]:
pwd

'C:\\Users\\coral\\pythonClass630am'

In [32]:
import os
try:
    os.remove('data1.txt')
except:
    print("File is not there.")

In [34]:
import shutil as s

s.copy('bill.txt','Untitled Folder/')

'Untitled Folder/bill.txt'