In [1]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\coral\anaconda3\lib\site-packages (2.2.9)

WARNING: Ignoring invalid distribution -illow (c:\users\coral\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\coral\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\coral\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\coral\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\coral\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\coral\anaconda3\lib\site-packages)
WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\coral\Anaconda3\python.exe -m pip install --upgrade pip' command.

In [4]:
import mysql.connector  		#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
  database = "class630"
)
db = database.cursor()

In [7]:
db.execute("SELECT * FROM student")
result =db.fetchall()
# for x in result:
#     print(x)
result

[(5, 'Nabin', 78, 89, 56, 78, 76, 400, 80.0, 'A'),
 (6, 'Sabin', 78, 89, 56, 78, 76, 400, 80.0, 'A'),
 (7, 'Ramprasad', 78, 90, 78, 87, 78, 423, 84.6, 'A'),
 (8, 'hari', 67, 89, 98, 93, 78, 437, 87.4, 'A')]

In [9]:
db.execute("SELECT id,name,total,grade FROM student")
result =db.fetchall()
# for x in result:
#     print(x)
result

[(5, 'Nabin', 400, 'A'),
 (6, 'Sabin', 400, 'A'),
 (7, 'Ramprasad', 423, 'A'),
 (8, 'hari', 437, 'A')]

In [10]:
db.execute("SELECT * FROM student WHERE per > 80")
result =db.fetchall()
# for x in result:
#     print(x)
result

[(7, 'Ramprasad', 78, 90, 78, 87, 78, 423, 84.6, 'A'),
 (8, 'hari', 67, 89, 98, 93, 78, 437, 87.4, 'A')]

In [11]:
per = 70
db.execute(f"SELECT * FROM student WHERE per > {per}")
result =db.fetchall()
# for x in result:
#     print(x)
result

[(5, 'Nabin', 78, 89, 56, 78, 76, 400, 80.0, 'A'),
 (6, 'Sabin', 78, 89, 56, 78, 76, 400, 80.0, 'A'),
 (7, 'Ramprasad', 78, 90, 78, 87, 78, 423, 84.6, 'A'),
 (8, 'hari', 67, 89, 98, 93, 78, 437, 87.4, 'A')]

In [12]:
# Insert
sql = '''INSERT INTO student (name,physics,chemistry,math,english,nepali,total,per,grade) 
VALUES('Nabin',89,89,67,90,67,410,80,'A')'''
db.execute(sql)
database.commit()

In [13]:
name = input("enter name = ")
physics = int(input("Enter physics = "))
chemistry = int(input("Enter chemistry = "))
math = int(input("Enter math = "))
english = int(input("Enter english = "))
nepali = int(input("Enter nepali = "))
total = sum([physics,chemistry,math,english,nepali])
per = total/5
if per>=80:
    grade = 'A'
elif per>=60:
    grade = 'B'
elif per >=45:
    grade = 'C'
else:
    grade = 'F'
    

sql = f'''INSERT INTO student (name,physics,chemistry,math,english,nepali,total,per,grade) 
VALUES('{name}',{physics},{chemistry},{math},{english},{nepali},{total},{per},'{grade}')'''
db.execute(sql)
database.commit()

enter name = Nabina
Enter physics = 89
Enter chemistry = 90
Enter math = 89
Enter english = 78
Enter nepali = 90

In [17]:
sql = "DELETE FROM student WHERE id = 9"
db.execute(sql)
database.commit()

In [18]:
sql = "UPDATE student SET grade = 'A+' WHERE per > 90"
db.execute(sql)
database.commit()