In [1]:
# Tuple
# -Indexing
# -ordered
# -Multiple data
# -Imutable

In [2]:
a =(1,2,3,4,5)
print(a)
print(type(a))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [4]:
a = ("Apple","Ball","Cat","Dog")
print(a[1])

Ball

In [8]:
a = ("Apple","Ball","Cat","Dog")
print(a[1:])

('Ball', 'Cat', 'Dog')

In [9]:
a = (1,2,3,4)
b = ("Apple","Ball")
c = a+b
print(c)

(1, 2, 3, 4, 'Apple', 'Ball')

In [10]:
# No append() insert() extend()
# No del pop() remove()
# No Update
#No sort
#no reverse

In [15]:
a = ("Apple",)
type(a)

tuple

In [16]:
a = ()
b = ("Apple",)
c = ("Ball",)
d = a+b+c
d

('Apple', 'Ball')

In [18]:
t = ()
n = int(input("Enter tuple = "))
for i in range(n):
    x = input("Enter x = ")
    t = t +(x,)
print(t)

Enter tuple = 4
Enter x = sdf
Enter x = df
Enter x = sd
Enter x = df
('sdf', 'df', 'sd', 'df')

In [19]:
# max() min() sum()

In [24]:
a = (1, 2, 3, 4, 'Apple', 'Ball')
b = list(a)
print(b)
del b[0]
a = tuple(b)
a

[1, 2, 3, 4, 'Apple', 'Ball']

(2, 3, 4, 'Apple', 'Ball')

In [25]:
# tuple inside tuple
# list inside tuple
# tuple inside list

In [28]:
# tuple inside tuple
# a = ((1,2,3),(4,5,6),(7,8,9))
a = ()
r = 3
c = 3
for i in range(3):
    t = ()
    for j in range(3):
        x = input("Enter x = ")
        t = t +(x,)
    a = a+(t,)
print(a)

Enter x = dfgfd
Enter x = ssd
Enter x = dfg
Enter x = et
Enter x = fg
Enter x = df
Enter x = dsf
Enter x = fg
Enter x = sdf
(('dfgfd', 'ssd', 'dfg'), ('et', 'fg', 'df'), ('dsf', 'fg', 'sdf'))

In [30]:
b = [] 
a =(('dfgfd', 'ssd', 'dfg'), ('et', 'fg', 'df'), ('dsf', 'fg', 'sdf'))
for i in a:
    b.append(list(i))
    
b

[['dfgfd', 'ssd', 'dfg'], ['et', 'fg', 'df'], ['dsf', 'fg', 'sdf']]

In [31]:
t = ()
a =[['dfgfd', 'ssd', 'dfg'], ['et', 'fg', 'df'], ['dsf', 'fg', 'sdf']]
for i in a:
    t = t +(tuple(i),)
t

(('dfgfd', 'ssd', 'dfg'), ('et', 'fg', 'df'), ('dsf', 'fg', 'sdf'))

In [34]:
# list inside tuple
#WAP to create list inside tuple and CRUD
t = ([1,2,3],[4,5,6],[7,8,9])
t[0].append(4)
t

([1, 2, 3, 4], [4, 5, 6], [7, 8, 9])

In [37]:
a = ([1, 2, 3, 4], [4, 5, 6], [7, 8, 9])
del a[0][3]
a

([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [38]:
#tuple inside list
a = [(1,2,3),(4,5,6),(7,8,9)]
a[0]

(1, 2, 3)

In [39]:
a[0]+(4,)

(1, 2, 3, 4)

In [40]:
a.append((10,11,12))
a

[(1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12)]

In [42]:
a = (324,456,234,46,234,45634,45,34,456,35,46,34,464,345,)
tuple(sorted(a))

(34, 34, 35, 45, 46, 46, 234, 234, 324, 345, 456, 456, 464, 45634)

In [43]:
a = 1,2,3
a

(1, 2, 3)