In [1]:
# # Python collection
# -List
# -Tuple
# -Dict
# -set

In [2]:
# List
# -Indexing
# -Ordered
# -Multiple values
# -Mutable

In [4]:
a = []
a = list()
b = ['Apple','Ball','cat','Dog','fish']
print(b)
print(type(b))

['Apple', 'Ball', 'cat', 'Dog', 'fish']
<class 'list'>

In [5]:
print(len(b))

5

In [12]:
b = ['Apple','Ball','cat','Dog','fish']
print(b[-3])

cat

In [13]:
b = ['Apple','Ball','cat','Dog','fish']
a = [1,2,3,4,5,6]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 'Apple', 'Ball', 'cat', 'Dog', 'fish']

In [14]:
b = ['Apple','Ball','cat','Dog','fish']
print(b*2)

['Apple', 'Ball', 'cat', 'Dog', 'fish', 'Apple', 'Ball', 'cat', 'Dog', 'fish']

In [15]:
a = [1, 2, 3, 4, 5, 6,]
print(a*2)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [17]:
b = ['Apple','Ball','cat','Dog','fish']
b[0] = 'Ant'
print(b)

['Ant', 'Ball', 'cat', 'Dog', 'fish']

In [18]:
# append() insert() extend()

In [21]:
a = []
a.append('Apple')
a.append('Ball')
a.append('Cat')
print(a)

['Apple', 'Ball', 'Cat']

In [25]:
a = list()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a.append(x)
    
print(a)

Enter n = 5
Enter x = 324
[324]
Enter x = 76
[324, 76]
Enter x = 678
[324, 76, 678]
Enter x = 34
[324, 76, 678, 34]
Enter x = 234
[324, 76, 678, 34, 234]

In [30]:
a = [324, 76, 678, 34, 234]
print("The max value = ",max(a))
print("The min value = ",min(a))
a.sort()
print(a)
a.reverse()
print(a)

The max value =  678
The min value =  34
[34, 76, 234, 324, 678]
[678, 324, 234, 76, 34]

In [32]:
a = ["Ball","apple","Cat",'Zebra','Xray']

a.sort()
print(a)
a.reverse()
print(a)

['Ball', 'Cat', 'Xray', 'Zebra', 'apple']
['apple', 'Zebra', 'Xray', 'Cat', 'Ball']

In [33]:
for i in a:
    print(i)

apple
Zebra
Xray
Cat
Ball

In [34]:
a = ['apple', 'Zebra', 'Xray', 'Cat', 'Ball']
search = input("Enter search = ")
if search in a:
    print("Yes")
    print(a.count(search))

Enter search = apple
Yes
1

In [7]:
a = ['apple', 'Zebra', 'Xray', 'Cat', 'Ball','Apple']
search = input("Enter search = ")
c = 0
l = len(a)
for i in range(l):
    if search.lower() == a[i].lower():
        c = c+1
if c>0:
    print("yes",c)
else:
    print("No")

Enter search = Apple
No

In [8]:
a = ['apple', 'Zebra', 'Xray', 'Cat', 'Ball','Apple']
a.insert(2,'xray')
a

['apple', 'Zebra', 'xray', 'Xray', 'Cat', 'Ball', 'Apple']

In [9]:
a = ['apple', 'Zebra', 'Xray', 'Cat', 'Ball','Apple']
b = [1,2,3,4]
a.extend(b)
print(a)

['apple', 'Zebra', 'Xray', 'Cat', 'Ball', 'Apple', 1, 2, 3, 4]

In [12]:
a = ['apple', 'Zebra', 'Xray', 'Cat', 'Ball','Apple']
b = ["Apple"]
a.extend(b)
print(a)

['apple', 'Zebra', 'Xray', 'Cat', 'Ball', 'Apple', 'Apple']

In [11]:
a = "Apple"
list(a)

['A', 'p', 'p', 'l', 'e']

In [15]:
# index()
a = ['apple', 'Zebra', 'Xray', 'Cat', 'Ball', 'Apple', 'Apple']
a.index('apple')

0

In [16]:
a = ['apple', 'Zebra', 'Xray', 'Cat', 'Ball', 'Apple', 'Apple']
search = input("Enter search = ")
for i in range(len(a)):
    if search == a[i]:
        print(i)

Enter search = Apple
5
6

In [2]:
#Update
a = ['apple', 'Zebra', 'Xray', 'Cat', 'Ball', 'Apple', 'Apple']
a[0] = 'Ant'
print(a)

['Ant', 'Zebra', 'Xray', 'Cat', 'Ball', 'Apple', 'Apple']

In [3]:
a = ['apple', 'Zebra', 'Xray', 'Cat', 'Ball', 'Apple', 'Apple']
a[0:3] = ['Ant','zebra','xray']
print(a)

['Ant', 'zebra', 'xray', 'Cat', 'Ball', 'Apple', 'Apple']

In [4]:
# del remove() pop()
a = ['Ant', 'zebra', 'xray', 'Cat', 'Ball', 'Apple', 'Apple']
del a[0]
print(a)

['zebra', 'xray', 'Cat', 'Ball', 'Apple', 'Apple']

In [5]:
# del remove() pop()
a = ['Ant', 'zebra', 'xray', 'Cat', 'Ball', 'Apple', 'Apple']
del a[0:3]
print(a)

['Cat', 'Ball', 'Apple', 'Apple']

In [6]:
a = ['Ant', 'zebra', 'xray', 'Cat', 'Ball', 'Apple', 'Apple']
a.remove('Ant')
print(a)

['zebra', 'xray', 'Cat', 'Ball', 'Apple', 'Apple']

In [7]:
a = ['Ant', 'zebra', 'xray', 'Cat', 'Ball', 'Apple', 'apple']
a.pop()
a

['Ant', 'zebra', 'xray', 'Cat', 'Ball', 'Apple']

In [9]:
a = ['Ant', 'zebra', 'xray', 'Cat', 'Ball', 'Apple', 'apple']
b =  a.pop(1)
print(a)
print(b)

['Ant', 'xray', 'Cat', 'Ball', 'Apple', 'apple']
zebra

In [12]:
a = ['Apple','Ant', 'zebra', 'xray', 'Cat', 'Ball', 'Apple', 'Apple']
b = []
for i in a:
    if "Apple"!= i:
        b.append(i)
        
print(b)

['Ant', 'zebra', 'xray', 'Cat', 'Ball']

In [14]:
# list inside list
# a = [[1],[3],[4]]

a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(a[0])
print(len(a))

[1, 2, 3]
3

In [21]:
print(a[0][2])

3

In [22]:
a = [['Ram',45,'Kathmandu'],
    ['Shyam',34,'Bhaktapur'],
    ['Hari',23,'Lalitpur']]
print(a)

[['Ram', 45, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur'], ['Hari', 23, 'Lalitpur']]

In [25]:
info = []
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    x = [i,name,age,add]
    info.append(x)

Enter n = 3
Enter name = Ram
Enter age = 56
Enter add = Kathmandu
Enter name = Shyam
Enter age = 78
Enter add = Kathmandu
Enter name = Nabin
Enter age = 45
Enter add = Bara

In [26]:
print(info)

[[1, 'Ram', 56, 'Kathmandu'], [2, 'Shyam', 78, 'Kathmandu'], [3, 'Nabin', 45, 'Bara']]

In [27]:
for i in info:
    print(i)

[1, 'Ram', 56, 'Kathmandu']
[2, 'Shyam', 78, 'Kathmandu']
[3, 'Nabin', 45, 'Bara']

In [28]:
name = input("Enter name = ")
for i in info:
    if name in i:
        print(i)

Enter name = Ram
[1, 'Ram', 56, 'Kathmandu']

In [31]:
# Update
info[0] = [1,'Rama',34,'Bhaktapur']
info

[[1, 'Rama', 34, 'Bhaktapur'],
 [2, 'Shyam', 78, 'Kathmandu'],
 [3, 'Nabin', 45, 'Bara']]

In [34]:
info[0][1] = 'Sita'
info[0][3] = 'Bharatpur'
info

[[1, 'Sita', 34, 'Bharatpur'],
 [2, 'Shyam', 78, 'Kathmandu'],
 [3, 'Nabin', 45, 'Bara']]

In [35]:
# WAP to create list inside list (matrix) with give row and column

l = []
r = int(input("Enter r = "))
c = int(input("Enter c = "))
for i in range(r):
    y = []
    for j in range(c):
        x = int(input("Enter x = "))
        y.append(x)
        
    l.append(y)
print(l)

Enter r = 2
Enter c = 2
Enter x = 231
Enter x = 34
Enter x = 54
Enter x = 234
[[231, 34], [54, 234]]