In [1]:
# Dictionary
# -indexed
# -Ordered
# -multiple values
# -Mutable

In [ ]:
# d = {<key>:<value>,<key>:<value>}

In [2]:
d = {}
d = dict()
type(d)

dict

In [3]:
d = {'a':"Apple",'b':'Ball','c':'Cat'}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [10]:
print(d['c'])
print(len(d))

Cat
3

In [11]:
d = {'a':"Apple",'b':'Ball','c':'Cat','A':'Apple'}
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [12]:
d = {'A':"Apple",'b':'Ball','c':'Cat','A':'apple'}
d

{'A': 'apple', 'b': 'Ball', 'c': 'Cat'}

In [13]:
d = dict()
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
d['e'] = 'Egg'
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'e': 'Egg'}

In [14]:
d = dict()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    d[name] = phone
    
print(d)

Enter n = 2
Enter name = Ram
Enter phone = 9867667654
Enter name = Shyam
Enter phone = 9808778765
{'Ram': 9867667654, 'Shyam': 9808778765}

In [15]:
for i in d:
    print(i)

Ram
Shyam

In [16]:
for i in d.values():
    print(i)

9867667654
9808778765

In [17]:
for i in d.items():
    print(i)

('Ram', 9867667654)
('Shyam', 9808778765)

In [18]:
l = []
for i in d.items():
    l.append(i)
    
print(l)

[('Ram', 9867667654), ('Shyam', 9808778765)]

In [19]:
dict(l)

{'Ram': 9867667654, 'Shyam': 9808778765}

In [20]:
d = {'Ram': 9867667654, 'Shyam': 9808778765}
d['Ram'] = 9800000000
d

{'Ram': 9800000000, 'Shyam': 9808778765}

In [22]:
# del pop()
d = {'Ram': 9867667654, 'Shyam': 9808778765}
del d['Ram']
d

{'Shyam': 9808778765}

In [23]:
d = {'Ram': 9867667654, 'Shyam': 9808778765}
d.pop('Ram')
d

{'Shyam': 9808778765}

In [24]:
# list inside dict
d ={'Ram':[9879887876,9867665654],
   'Shyam':[987878765,9878776754]}
print(d)

{'Ram': [9879887876, 9867665654], 'Shyam': [987878765, 9878776754]}

In [25]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_no = int(input("Enter ntc no = "))
    ncell_no =  int(input("Enter ncell_no = "))
    d[name] = [ntc_no,ncell_no]
    
print(d)

Enter n = 2
Enter name = Ram
Enter ntc no = 9878778765
Enter ncell_no = 9808667654
Enter name = Shyam
Enter ntc no = 9878778765
Enter ncell_no = 9808667654
{'Ram': [9878778765, 9808667654], 'Shyam': [9878778765, 9808667654]}

In [26]:
info = {'Ram': [9878778765, 9808667654], 'Shyam': [9878778765, 9808667654]}
info['Hari'] = [9878778654,9867666543]
info

{'Ram': [9878778765, 9808667654],
 'Shyam': [9878778765, 9808667654],
 'Hari': [9878778654, 9867666543]}

In [28]:
print(info['Ram'][0])

9878778765

In [31]:
info = {'Ram': [9878778765, 9808667654], 'Shyam': [9878778765, 9808667654]}
info['Ram'].append(9878778765)
info

{'Ram': [9878778765, 9808667654, 9878778765],
 'Shyam': [9878778765, 9808667654]}

In [32]:
# dict inside dict
d = {'Ram':{'ntc':9878778765,'ncell':9867667654},
    'Shyam':{'ntc':9856556543,'ncell':9878778765}}

In [34]:
d = {}
d['Ram'] = {'ntc':9878778765,'ncell':9867667654}
d['Shyam'] = {'ntc':9856556543,'ncell':9878778765}
d

{'Ram': {'ntc': 9878778765, 'ncell': 9867667654},
 'Shyam': {'ntc': 9856556543, 'ncell': 9878778765}}

In [35]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_no = int(input("Enter ntc no = "))
    ncell_no =  int(input("Enter ncell_no = "))
    d[name] = {'ntc':ntc_no,'ncell':ncell_no}
print(d)

Enter n = 2
Enter name = Ram
Enter ntc no = 9878778654
Enter ncell_no = 9808667654
Enter name = Shyam
Enter ntc no = 9867556543
Enter ncell_no = 9808667655
{'Ram': {'ntc': 9878778654, 'ncell': 9808667654}, 'Shyam': {'ntc': 9867556543, 'ncell': 9808667655}}

In [36]:
d = {'Ram': {'ntc': 9878778654, 'ncell': 9808667654}, 
     'Shyam': {'ntc': 9867556543, 'ncell': 9808667655}}
d['Ram']

{'ntc': 9878778654, 'ncell': 9808667654}

In [37]:
d['Ram']['ntc']

9878778654

In [38]:
d['Ram']['ntc'] = 98400000000
d

{'Ram': {'ntc': 98400000000, 'ncell': 9808667654},
 'Shyam': {'ntc': 9867556543, 'ncell': 9808667655}}

In [ ]:
# dict inside list and its CRUD operation